# HARNESS
job-data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
MANIFEST

# Virtual environments
venv/
env/
ENV/
.env
.venv

# Distribution / packaging
.Python
develop-eggs/
downloads/
lib/
lib64/
LICENSES/

# Testing
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Nox
.nox/

# OS
.DS_Store
Thumbs.db
